 
 .SlidingPuzzleFigure{
  font-family:arial;
 
 }
 .SlidingPuzzleFigure{
     width: 200px;
  
 }
 #completed{
    display:none;
    font-size:72px;
    font-weight:bold;
 }
 .SlidingPuzzle {
  padding:10px;
     width: 200px;
  background-color:#000;
  border-radius:15px;
 }
 
 .Tile{
  margin: 0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
     list-style-position: inside;
  list-style-type:none;
  display:inline-block;
  background-color:#FFF;
  width:50px;
  height:40px;
  text-align:center;
  padding-top:9px;
     font-size:24px;
  border-left:5px solid #CCC;
  border-top:5px solid #CCC;
  border-right:5px solid #AAA;
  border-bottom:5px solid #AAA;
 }
 figcaption{
   font-size:24px;
   font-style: italic;
  text-align:center;
 
}